.about__resume {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.about__content {
  margin-top: 16px;
}

@media (min-width: 890px) {
  .about__resume {
    flex-direction: row;
    gap: 32px;
  }
}