.footer {
  margin-top: 8px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  gap: 16px;
}

@media (min-width: 890px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}