.skills__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  background-color: var(--color-background);
  padding: 24px;
  border-radius: 5px;
  border: 1px solid var(--color-purple);
}

.skills:not(:last-child) {
  margin-bottom: 32px;
} 

.skills ul li {
  margin-top: 8px;
  color: var(--color-text);
}

.skills h2 {
  color: var(--color-purple);
}

@media (min-width: 890px) {
  .skills__inner {
    flex-direction: row;
  }

  .skills:not(:last-child) {
    margin-bottom: 0;
  } 
}